.logo > img {
  height: 80px;
}  

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}   

.cabecalho_menu-hamburquer {
  width: 20px;
  height: 20px;
  background-image: url(../img/menu_hamburguer.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.lista-menu {
  display: none;
  position: absolute;
  top: 100%;
  width: 45vw;
  background-color: #33475b;
  color: #0000ee;
  padding-top: 2.4em;
  padding-left: 2.4em;
  z-index: 500;
}

.container__botão:checked ~ .lista-menu {
  display: block;
}

.container__botão {
  display: none;
}

.container__imagem {
  padding: 1.6em;
}

.lista-menu__item {
  padding-bottom: 2.4em;
}

.lista-menu__link {
  color: #0000ee;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .cabecalho {
    height: 80px;
  }

  .lista-menu {
    width: 25vw;
  }

  .icones__esquerda {
    display: flex;
  }
}

@media screen and (max-width: 1024px) {
    .lista-menu__link {
        color: white;
    }
}

@media screen and (min-width: 1024px) {

  .cabecalho_menu-hamburquer {
    display: none;
  }

  .lista-menu {
    width: 60vw;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    background-color: transparent;
  }

  .lista-menu > li {
    padding: 0;
  }

  .logo {
    position: absolute;
    left: 16px;
  }
}
