.projetos{
    background-color: #33475b;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.projetos>h2{
    color: white;
    margin: 1em auto;
}

.texto-projeto{
    background: linear-gradient(to bottom, #192530, #253545);
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 1em;
    padding-bottom: 1em;
}

.texto-projeto>h2{
    margin-top: 1em;
    color: white;
}
.texto-projeto>h3{
    color: rgb(219, 219, 219);
}
.texto-projeto>p{
    width: 600px;
    margin: 0 auto;
}

.destaque{
    background: linear-gradient(to bottom, #253545, #33475b);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.destaque>h2{
    color: white;
}

.destaque>p{
    width: 600px;
}

.destaque-super>img{
    border-radius: 4px;
}

.projeto>img{
    border-radius: 4px;
}

.projetos-agrupados{
    max-width: 600px;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

.tecnologias-botoes{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.projeto{
    justify-content: space-around;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
    width: 230px;
    padding: 32px;
    margin-bottom: 1em;
    border-radius: 4px; 
}

.projeto>h2{
    color: #364372;
    font-weight: 600;
    text-align: left;
}

.destaque-super>h2{
    color: #364372;
    font-weight: 600;
    text-align: left;
}

.destaque-super{
    width: 536px;
    height: 650px;
    justify-content: space-around;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 600px;
    padding: 32px;
    margin-bottom: 1em;
    border-radius: 4px; 
}



.botoes, .botoes-destaque{
    display: flex;
    justify-content: space-between;
}

.botoes-destaque a{
    border: solid 1px;
    padding: 1rem;
    border-radius: 4px;
    border: #264FEC 1px solid;
    color: #264FEC;
    background-color: transparent;
    font-size: 14px;
    width: 150px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botoes a{
    border: solid 1px;
    padding: 0.3rem;
    border-radius: 4px;
    border: #264FEC 1px solid;
    color: #264FEC;
    background-color: transparent;
    font-size: 14px;
    width: 80px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botoes a:hover{
    background-color: #264FEC;
    color: white;
    border: #525071 solid 1px;
    transition: 500ms;
}

.botoes-destaque a:hover{
    background-color: #264FEC;
    color: white;
    border: #525071 solid 1px;
    transition: 500ms;
}

.tecnologias-usadas{
    display: flex;
    justify-content: space-evenly;
}

.tecnologias-usadas>p{
    border: solid 1px;
    padding: 10px 1px;
    border-radius: 20px;
    color: white;
    background-color: #264FEC;
    font-size: 14px;
    width: 65px;
    text-decoration: none;
    font-size: 12px;
}

