.sobre{
    text-align: center;
    width: 600px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4em auto;
}

.foto-texto{
    margin-top: 1em;
    display: flex;
    gap: 2em;
}

.foto-texto > h2 {
    color: white;
    font-weight: 600;
    
}
.foto-texto > p{
  color: rgb(159, 171, 178);
  text-align: left;
  display: flex;
  align-items: center;
}

.foto-texto>img{
    border-radius: 20px;
    border: solid transparent;
    height: 200px;
}