.tecnologias{
    text-align: center;
    background-color: #33475b;
    width: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
}

.tecnologia-texto>h2{
    color: white;
    margin-bottom: 1em;
}

.tech>ul>li>img{
    width: 60px;
}


.tecnologias-usadas>img{
    height: 45px;
}

.tech{
    max-width: 600px;
    width: 100%;
    margin-top: 1em;
}

.tech>ul{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 1em;
    flex-wrap: wrap;
}

.tech>ul>li>h3{
    margin-bottom: 1em;
    color: rgb(189, 189, 189);
    font-weight: 600;
}

@media (max-width: 600px){

    .tech{
        display: flex;
        justify-content: space-between;
        width: 100%;
    } 

    .tech>ul>li{
        width: 100px;
        padding: 0px;
        margin-bottom: 1em;
    } 

    .tech>ul>li>img{
        width: 50px;
    }
}